


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    background-image: url('bg.jpg');
    color: #fff;
    padding: 20px;
    text-align: center;
 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;

}

.home {
    color: #333;
    text-align: center;
    padding: 40px;
    
}

.home h1 {
    font-size: 36px;
    color: #333;
}

.pricing {
    padding: 100px;
    justify-content: center;
    margin: 0;
 
}
.princingcof{
    background-image: url('cofmenu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 400px;
    height: 100%;
    flex-basis: calc(33.33% - 20px);
    
}
.pricingsweet{
    background-image: url('sweet.avif');
    background-repeat: no-repeat;
    background-position: center;
    padding: 400px;
    height: 100%;
    flex-basis: calc(33.33% - 20px);
}
.princing h1{
    text-align: left;
    font-size: 50px;
}
.views {
    border-radius: 50%;
    background-image: url('view3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
    height: 100%;
    flex-basis: calc(33.33% - 20px);
}
.cta-button {
    display: inline-block;
    background-color: burlywood;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #005d91;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 100px;
    background-image: url('bg.jpg');
    color: white;  
}

.feature {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .feature  {
        flex-basis: calc(50% - 20px);
    }
    .pricingcof {
        flex-basis: calc(50% - 20px);
    }
    .pricingsweet {
        flex-basis: calc(50% - 20px);
    }
    .views {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .feature {
        flex-basis: 100%;
    }
    .pricingcof {
        flex-basis: 100%;
    }
    .pricingsweet {
        flex-basis: 100%;
    }
    .views {
        flex-basis: 100%;
    }
}
footer {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 10px;

}
